
#trapped_in_time {
  height: 500px;
  float: left;
}
#ziba_ali {
  height: 500px;
  float: left;

}
#ziba_gets_dirty {
  height: 500px;
  float: right;
}

#ziba{
  text-align: center;
  font-style: oblique;
  color: rgb(5, 23, 173);;
}
#flyingman{
  height: 400px;
  width: 280px;
}
#sleepingman{
  height: 400px;

}

#vertical_pics{
  height: 500px;
  width: 280px;
}

#name {
  text-align: center;
}
.main-img{
  height: 200px;
  padding-right: 15px;
  padding-left: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.nav-site {
  text-align: center;
}
