<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link href="/css/styles.css" rel="stylesheet">
  <!--
    <link rel="stylesheet" href="https://a.fsdn.com/sd/css/app.css?release_20160315">
  -->
</head>
<body>
  <h2 id="name">{{ site.title }}</h2>
  <div>
    <ul class="nav-site">
      <li><a href="http://alirezaandersen.github.io/">Home</a></li>
      <li><a href="http://alirezaandersen.github.io/static/myth.html">The Myth</a></li>
      <li><a href="http://alirezaandersen.github.io/static/legend.html">The Legend</a></li>
      <li><a href="http://alirezaandersen.github.io/static/man.html">The Man</a></li>
    </ul>
  </div>
  <div class="container">
